

@{
    ViewData["Title"] = "Immobili";
}

@section scripts {
	<script>
        $(document).ready(function () {

            // initialize page
            $("#verifica-immobile").hide();

            function verifica(el) {
                var id = el.data("id");
                //console.log(id);

                // show/display tabs
                $("#verifica-immobile").show();
                $("#nuovo-immobile").hide();
                $.get('@Url.Action("DettaglioImmobile")', {idImmobile:id},
                    function (data) {
                        $('#dettaglio-immobile').empty();
                        $("#dettaglio-immobile").html(data);
                    }
                    );
                  }

            $("#btn-nuovo-immobile").click(function() {
                $("#verifica-immobile").hide();
                $("#nuovo-immobile").show();
            });

                        function getImmobili() {
                $.get('/api/immobili', function (data) {
                                console.log(data);

                                var lstImmobili = $('#immobili-list');
                                var lista = '<ul>';

                                var immobiliexists = data.length > 0;
                                for (var i = 0; i < data.length; i++) {
                                    lista +=
                                        '<a href="javascript:void(0);" data-id="' + data[i]["id"] + '" class="list-group-item list-group-item-action li-immobile">' +
                                        '<i class="fa fa-home" aria-hidden="true"></i> ' +
                                        data[i]["comune"] + ', ' + data[i]["indirizzo"] +
                                        '</a>';
                                }

                                lista += '</ul>'


                    lstImmobili.empty();
                                lstImmobili.append(lista);
                    $(".li-immobile").each(function(i, el) {
                        $(el).click(function() {
                                        verifica($(this));
                                    });
                                })
                    
                })
                .fail(function() {
                                console.log( "error" );
                            });
                        }

                        getImmobili();

            $("#btn-aggiungi-immobile").click(function () {
                            var immobile = {
                    "Comune": $("#txt-comune").val(), 
                    "Indirizzo": $("#txt-indirizzo").val(), 
                    "TipoImmobile": 0
                };
                $.ajax({
                        type: 'PUT', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
                    dataType: 'json', // Set datatype - affects Accept header
                    url: "/api/putimmobile", // A valid URL
                    headers: {"X-HTTP-Method-Override": "PUT"}, // X-HTTP-Method-Override set to PUT.
                    data: immobile // Some data e.g. Valid JSON as a string
                })
                .done(function() {
                            console.log("success");
                        })
                .fail(function() {
                            console.log("error");
                        })
                .complete(function() {
                            console.log("complete");
                            getImmobili()
                });
                    });

        });
    </script>
}

<!--inizio breadcrumbs-->

<ol class="breadcrumb">
  <li><a asp-action="Index" asp-controller="Home" >Home</a></li>
  <li class="active">Immobili</li>
</ol>

<!--fine breadcrumbs-->

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">

    <div class="col-md-7">
        
        <div class="panel panel-default" id="nuovo-immobile">
            <div class="panel-heading">
                <h4>Nuovo Immobile</h4>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label for="txt-comune" class="col-xs-2 col-form-label">Comune</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" name="comune" id="txt-comune" placeholder="Comune...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txt-indirizzo" class="col-xs-2 col-form-label">Indirizzo</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" name="indirizzo" id="txt-indirizzo" placeholder="Via e civico...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button id="btn-aggiungi-immobile" type="submit" class="btn btn-success">Inserisci</button>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="panel panel-default" id="verifica-immobile">
            <div class="panel-heading">
                <h4>Verifica</h4>
            </div>
            <div class="panel-body">
                <button id="btn-nuovo-immobile" class="btn btn-default">
                    <i class="fa fa-plus" aria-hidden="true"></i> Nuovo</button>
                <hr>
                <div id="dettaglio-immobile">

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Lista Immobili</h4>
            </div>

            <div class="list-group" id="immobili-list"></div>
        </div>
    </div>

</div>
