@{
    ViewData["Title"] = "Immobili";
}

@section scripts {
	<script>
        $(document).ready(function () {

            function getImmobili() {
                $.get('/api/immobili', function (data) {
                    console.log(data);
                    var lstImmobili = $('#immobili-list');
                    var items = data.items.map(function (item) {
                        return item.key + ': ' + item.value;
                    });
                    
                    lstImmobili.empty();
                        
                    if (items.length) {
                        var content = '<li>' + items.join('</li><li>') + '</li>';
                        var list = $('<ul />').html(content);
                        lstImmobili.append(list);
                    }
                })
                .fail(function() {
                    console.log( "error" );
                });
            }

            getImmobili();

            $("#nuovo-immobile").click(function () {
                var immobile = { 
                    "Comune": "Ancona", 
                    "Indirizzo": "Via delle Tavernelle, 18", 
                    "TipoImmobile": 0 
                };
                $.ajax({
                    type: 'PUT', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
                    dataType: 'json', // Set datatype - affects Accept header
                    url: "/api/immobile", // A valid URL
                    headers: {"X-HTTP-Method-Override": "PUT"}, // X-HTTP-Method-Override set to PUT.
                    data: immobile // Some data e.g. Valid JSON as a string
                })
                .done(function() {
                    alert( "success" );
                })
                .fail(function() {
                    alert( "error" );
                });

                getImmobili();
            });
            
            /*
            $("#nuovo-immobile").click(function () {

                var data = {
                    "id": 1,
                    "name": "pollo"
                };

                $.post("index.html", function(data) {
                    //$("#show-result").html(data);
                    console.log("success");
                    console.log(data);
                })
                .done(function() {
                    console.log("second success");
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("finished");
                });
            });*/

        });
    </script>
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Nuovo Immobile</h4>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label for="txt-comune" class="col-xs-2 col-form-label">Comune</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" name="comune" id="txt-comune" placeholder="Comune...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txt-indirizzo" class="col-xs-2 col-form-label">Indirizzo</label>
                    <div class="col-xs-10">
                        <input class="form-control" type="text" name="indirizzo" id="txt-indirizzo" placeholder="Via e civico...">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button id="nuovo-immobile" type="submit" class="btn btn-success">Inserisci</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Lista Immobili</h4>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="fa fa-home" aria-hidden="true"></i> Via del Colle 6, Monte Roberto</a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="fa fa-home" aria-hidden="true"></i> Via Garibaldi 6, Castelbellino</a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="fa fa-home" aria-hidden="true"></i> Via delle Tavernelle 160, Ancona</a>
            </div>
            
            <div id="immobili-list"></div>

            <div class="panel-body">
                <a href="#">Visualizza tutti gli immobili...</a>
            </div>
        </div>
    </div>

</div>
