@{
    ViewData["Title"] = "Verifica immobile";
}

@section scripts {
	<script>
    </script>
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Verifica</h4>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Lista Immobili</h4>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="fa fa-home" aria-hidden="true"></i> Via del Colle 6, Monte Roberto</a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="fa fa-home" aria-hidden="true"></i> Via Garibaldi 6, Castelbellino</a>
                <a href="#" class="list-group-item list-group-item-action">
                    <i class="fa fa-home" aria-hidden="true"></i> Via delle Tavernelle 160, Ancona</a>
            </div>
            
            <div id="immobili-list"></div>

            <div class="panel-body">
                <a href="#">Visualizza tutti gli immobili...</a>
            </div>
        </div>
    </div>

</div>
