@using DataStorm.Web.Controllers

@{
    ViewData["Title"] = "Home Page";
}

 <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>La tua casa è sicura?</h1>
                        <p>Scopri il livello di sicurezza del tuo immobile ed individua le criticità. </p>
                        <a href="@Url.Action(nameof(ImmobiliController.Index), "Immobili")" class="btn btn-common">VALUTA IL RISCHIO</a>
                    </div>
                    <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/house2.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/clouds2.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/baloon.png" class="slider-birds1" alt="slider image">
                    <img src="images/home/slider/clouds1.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/home/icon1.png" alt="">
                        </div>
                        <h2>Valuta il rischio</h2>
                        <p>Registra il tuo immobile e fai il test. Riceverai indicazioni per il miglioramento sismico.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="images/home/icon2.png" alt="">
                        </div>
                        <h2>Chiedi un preventivo</h2>
                        <p>Ora che conosci le criticità del tuo immobile scopri gli incentivi statali disponibili.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="images/home/icon3.png" alt="">
                        </div>
                        <h2>Metti in sicurezza</h2>
                        <p>Affida ad una delle aziende della tua zona gli interventi di cui ha bisogno il tuo immobile.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->


    <section id="action-contatore">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action count">
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="4000" data-speed="3000" data-from="0"></h1>   
                            <h3>Abitazioni registrate</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="1540" data-speed="3000" data-from="0"></h1>   
                            <h3>Test effettuati</h3> 
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="3" data-speed="3000" data-from="0"></h1> 
                            <h3>Milioni di &euro; risparmiati</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="145" data-speed="3000" data-from="0"></h1> 
                            <h3>Aziende utili</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action contatore-->

     <section id="action-app" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title red">Scarica la APP Emergenza</h1>
                            <p>Utilissima in caso di terremoti o altre calamità,<br/>per essere sempre aggiornato e segnalare la tua posizione</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">Scopri la APP</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action- app-->

     