@{
    ViewData["Title"] = "Home Page";
}

 <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>La tua casa è sicura?</h1>
                        <p>Scopri il livello di sicurezza del tuo immobile ed individua le criticità. </p>
                        <a href="#" class="btn btn-common">VALUTA IL RISCHIO</a>
                    </div>
                    <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/house2.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/baloon.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/clouds1.png" class="slider-birds1" alt="slider image">
                    <img src="images/home/slider/clouds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

     <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Scarica la APP Emergenza</h1>
                            <p>Utilissima in caso di terremoti o altre calamità, per essere sempre aggiornato e segnalare la tua posizione</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">Scopri la APP</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action- app-->