@{
    ViewData["Title"] = "Open Data";
}
<h2>@ViewData["Title"].</h2>
<h3>Scarica il dataset elaborato del sisma delle Apuane</h3>



<p class="text-center">
    <a href="/sisma-apuane.csv" class="btn btn-warning btn-lg" style="margin:40px;">Download in formato CSV</a><br />
    Il dataset è rilasciato su <a href="http://www.formez.it/iodl/" target="_blank">Italian Open Data License</a>.<br />
    <img src="/images/iodl.png" />
</p>
