<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataStorm.Web</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet"> 
    <link href="/css/lightbox.css" rel="stylesheet"> 
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
    </environment>
</head>
<body>

	<header id="header">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                    	<h1><img src="/images/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li class="dropdown"><a href="#">Immobili <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="#">Aggiungi un nuovo immobile</a></li>
                                <li><a href="#">I tuoi immobili</a></li>
                                <li><a href="#">Mappa</a></li>
                                
                            </ul>
                        </li>                    
                        <li ><a href="#">Valuta il rischio</a></li>
                        <li><a href="#">Fai una segnalazione</a>
                        <li><a asp-area="" asp-controller="Immobili" asp-action="Index">Immobili</a></li>                         
                        <li class="dropdown">
                            <a href="#">Contatta un'azienda  <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="#">Aziende edili</a></li>
                                <li><a href="#">Liberi professionisti</a></li>
                                <li><a href="#">Imprese di demolizioni</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Cerca">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

   <div>@RenderBody()</div>
  
    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 text-center ">
                    <img src="/images/home/footer-bg1.png" class="img-responsive inline" alt="">
                </div>
             </div>
             <div class="col-sm-12 " id="contact">             
                <div class="contact-info text-center">
                        <p>Se rilevi inesattezze nel sito contattaci all'indirizzo e-mail <address>
                        <a href="mailto:datastorm.hack@gmail.com">datastorm.hack@gmail.com</a> <br> 
                        </address></p>
                 </div>
            </div>
            <div class="col-sm-12 ">
                    <div class="copyright-text text-center">
                        <p>&copy; DataStorm 2016. All Rights Reserved.</p>
                     </div>
                </div>

            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>   

    <environment names="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="https://use.fontawesome.com/5fb7df110f.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>*@
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>*@
        <script src="https://use.fontawesome.com/5fb7df110f.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
