@using Microsoft.AspNetCore.Identity
@using DataStorm.Web.Models

@inject SignInManager<Utente> SignInManager
@inject UserManager<Utente> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
            Area personale
        </a>
    </li>
    <li><form asp-action="Logout" asp-controller="Account" >
        <button class="btn btn-common2" >LOGOUT</button>
        </form>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Registrati</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
