@model IEnumerable<SelectListItem>

@{
    ViewData["Title"] = "Segnalazioni";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-7">
        <div id="form-segnalazione" class="panel panel-default">
            <div class="panel-heading">
                <h4>Nuova segnalazione</h4>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label for="txt-comune" class="col-xs-2 col-form-label">Descrizione</label>
                    <div class="col-xs-10">
                        <textarea class="form-control" type="text" id="txt-descrizione" placeholder="Descrizione..."></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txt-indirizzo" class="col-xs-2 col-form-label">Tipo</label>
                    <div class="col-xs-10">
                        <select class="form-control" id="select-tipo">
                            @foreach (var item in Model)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="btn-segnala" type="submit" class="btn btn-common">Segnala</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
    </div>
</div>

@section scripts {
    <script>

        $(document).ready(function ()
        {
            $("#btn-segnala").click(function ()
            {
                var lockQuery = $('#form-segnalazione');
                lockQuery.block(lockOptions);
                var spinner = new Spinner(spinnerOptions);
                spinner.spin(lockQuery[0]);

                var segnalazione = {
                    "Descrizione": $("#txt-descrizione").val(),
                    "TipoSegnalazione": $("#select-tipo").val()
                };

                $.ajax({
                    type: 'PUT', // Use POST with X-HTTP-Method-Override or a straight PUT if appropriate.
                    dataType: 'json', // Set datatype - affects Accept header
                    url: "/api/segnalazione", // A valid URL
                    headers: {"X-HTTP-Method-Override": "PUT"}, // X-HTTP-Method-Override set to PUT.
                    data: segnalazione // Some data e.g. Valid JSON as a string
                })
                .done(function () {
                    swal('Successo', 'La segnalazione è stata inviata con successo!', 'success');
                })
                .fail(function() {
                    swal('Errore', 'Si è verificato un errore durante l\'invio della segnalazione.', 'error');
                })
                .complete(function() {
                    console.log("complete");
                })
                .always(function () {
                    lockQuery.unblock();
                    spinner.stop();
                });
            });
        });

    </script>
}
